{% extends "loginbase.html" %}





{% block contentblock %}

    <div id="midContent" class="container-fluid">
        <div class="container">

            <form class="form-signin" action="/loginAction" method="post">
                <h2 class="form-signin-heading">皮皮友管理平台</h2>


                <label for="username" class="sr-only">Account</label>
                <input type="text" id="username" name="username" class="form-control" placeholder="Account" required
                       autofocus>
                <label for="password" class="sr-only">Password</label>
                <input type="password" id="password" name="password" class="form-control" placeholder="Password"
                       required>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="rememberme" value="rememberme">记住我
                    </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">登陆</button>
            </form>
            {% include "flash.html" ignore missing %}


        </div> <!-- /container -->
    </div>

{% endblock %}


{% block scripts %}
    {{ super() }}
{% endblock %}

