<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="true" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar">首页</span>
                <span class="icon-bar">运营</span>
                <span class="icon-bar">发现</span>
                <span class="icon-bar">举报</span>
                <span class="icon-bar">消息</span>
                <span class="icon-bar">登出</span>
            </button>
            <a class="navbar-brand" href="#">皮皮友</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/index_page">首页</a></li>
                <li id="yunying"><a href="/banner/banners_page/mainbanner">运营</a></li>
                <li id="find"><a href="/find/maincate_page">发现</a></li>
                <li id="report"><a href="/report/reports_page">举报</a></li>
                <li id="message"><a href="/message/messages/sends_page">消息</a></li>
                <li id="image"><a href="/image/uploadImage">上传图片</a></li>
                <li><a href="/loginoutAction">登出</a></li>
            </ul>
        </div>
    </div>
</nav>

{{ tag }}








