

<ul id="main-nav" class="main-nav nav nav-tabs nav-stacked" style="">
    {% if (tag == "ads" or tag == "forumbanner" or tag == "mainbanner") %}
    <li>
        <a href="#systemSetting" class="nav-header collapsed" data-toggle="collapse">
            <i class="glyphicon glyphicon-cog"></i>
            运营
            <span class="pull-right glyphicon glyphicon-chevron-toggle"></span>
        </a>
        <ul id="systemSetting" class="nav nav-list secondmenu collapse in">
            <li><a href="/ad/ads"><i class="glyphicon glyphicon-user"></i>&nbsp;广告列表</a></li>
            <li><a href="/banner/banners/mainbanner"><i class="glyphicon glyphicon-th-list"></i>&nbsp;首页Banner</a></li>
            <li><a href="/banner/banners/forumbanner"><i class="glyphicon glyphicon-asterisk"></i>&nbsp;论坛Banner</a></li>
         </ul>
    </li>
    {% endif %}

    {% if tag == "article" or tag == "maincate" or tag == "forumcate" or tag == "anony" %}

    <li>
        <a href="#configSetting" class="nav-header collapsed" data-toggle="collapse">
            <i class="glyphicon glyphicon-credit-card"></i>
            发现
            <span class="pull-right glyphicon  glyphicon-chevron-toggle"></span>
        </a>
        <ul id="configSetting" class="nav nav-list secondmenu collapse in">
             <li class="active"><a href="/find/maincate"><i class="glyphicon glyphicon-globe"></i>&nbsp;首页分类管理</a>
            </li>

            <li class="active"><a href="/find/forumcate"><i class="glyphicon glyphicon-globe"></i>&nbsp;论坛分类管理</a>
            </li>

            <li class="active"><a href="/find/anony"><i class="glyphicon glyphicon-globe"></i>&nbsp;匿名管理</a>
            </li>
            
            <li class="active"><a href="/find/article"><i class="glyphicon glyphicon-globe"></i>&nbsp;发现列表</a>
            </li>
        </ul>
    </li>
    {% endif %}
   {% if tag == "reports" %}

    <li>
        <a href="#disSetting" class="nav-header collapsed" data-toggle="collapse">
            <i class="glyphicon glyphicon-globe"></i>
            举报
            <span class="pull-right glyphicon glyphicon-chevron-toggle"></span>
        </a>
        <ul id="disSetting" class="nav nav-list secondmenu collapse in">
            <li><a href="/report/reports"><i class="glyphicon glyphicon-th-list"></i>&nbsp;举报列表</a></li>
        </ul>
    </li>

    {% endif %}
</ul>