{% extends "base.html" %}
{% block navblock %}
    {% include "nav.html" ignore missing %}
{% endblock %}

{% block contentblock %}
    <div id="midContent" class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                {% include "sliderbar.html" ignore missing %}
            </div>
            <div class="col-md-10">
            {# newanony editanony subanony #}
                {% if tagaction == "newanony" or tagaction == "editanony" %}
                    {% include "find/anonyActionContent.html" ignore missing %}
                {% elif tagaction == "subanony" %}
                    {% include "find/anonyListContent.html" ignore missing %}
                {% else %}
                    {% include "find/anonyListContent.html" ignore missing %}
                {% endif %}
            </div>
        </div>
    </div>

    <div id="tagdiv">{{ tag }}</div>
    <div id="tagactiondiv">{{ tagaction }}</div>


{% endblock %}


{% block scripts %}
    {{ super() }}

    {# test engine #}
    <script id="anony-show-template" type="text/x-handlebars-template">
        {{ '{{' }}{{ '#' }}each data{{ '}}' }}
        <tr>
            <td>{{ '{{' }}addOne @index{{ '}}' }}</td>
            <td>{{ '{{' }}anonyId{{ '}}' }}</td>
            <td>{{ '{{' }}anonyName{{ '}}' }}</td>
            <td>{{ '{{' }}anonyPic{{ '}}' }}</td>
            <td>{{ '{{' }}anonyState{{ '}}' }}</td>
            <td><a onclick="js_subAnony()">
                查看子类别</a>
                </td>
            <td><a href="/find/anony_page/editanony">
                编辑</a>
                <a href="#">删除</a></td>
        </tr>
        {{ '{{' }}/each{{ '}}' }}
    </script>

    <script type="text/javascript" src={{ url_for('static',filename="injs/anony.js") }}></script>
{% endblock %}