{% extends "base.html" %}
{% block navblock %}
    {% include "nav.html" ignore missing %}
{% endblock %}

{% block contentblock %}
    <div id="midContent" class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                {% include "sliderbar.html" ignore missing %}
            </div>
            <div class="col-md-10">
                {% if tagaction %}
                    {% include "find/articleActionContent.html" ignore missing %}
                {% else %}
                    {% include "find/articleListContent.html" ignore missing %}
                {% endif %}
            </div>
        </div>
    </div>

    <div id="tagdiv">{{ tag }}</div>
    <div id="tagactiondiv">{{ tagaction }}</div>
    <div id="postiddiv">{{ postid }}</div>

{% endblock %}


{% block scripts %}
    {{ super() }}



    {# test engine #}
    <script id="article-show-template" type="text/x-handlebars-template">
        {{ '{{' }}{{ '#' }}each data{{ '}}' }}
        <tr>
            <td>{{ '{{' }}addOne @index{{ '}}' }}</td>
            <td>{{ '{{' }}postId{{ '}}' }}</td>
            <td>{{ '{{' }}uid{{ '}}' }}</td>
            <td>{{ '{{' }}author{{ '}}' }}</td>
            <td>{{ '{{' }}title{{ '}}' }}</td>
            <td>{{ '{{' }}simpleContent{{ '}}' }}</td>

            <td><a href="javascript:void(0); onclick=editPostInfo({{ '{{' }}postId{{ '}}' }})">
                编辑</a>
                <a href="javascript:void(0); onclick=deletePostInfo({{ '{{' }}postId{{ '}}' }})">删除</a></td>

        </tr>
        {{ '{{' }}/each{{ '}}' }}
    </script>



    <script type="text/javascript" src={{ url_for('static',filename="injs/article.js") }}></script>

{% endblock %}