<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">
        <h3 class="panel-title">
            编辑文章
        </h3>
    </div>
    <div class="panel-body">
        <form id="bannerForm" action="/articlesubmit" class="form-horizontal" method="post" enctype="multipart/form-data" role="form">

            <div class="form-group">
                <label for="articleName" class="col-sm-2 control-label">文章标题</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" name="articleName" id="articleName"
                           placeholder="请输入文章标题">
                </div>
                <div class="col-sm-6">
                </div>
            </div>

            <div class="form-group">
                <label for="articleAuthor" class="col-sm-2 control-label">作者</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" name="articleAuthor" id="articleAuthor"
                           placeholder="作者">
                </div>
                <div class="col-sm-6">
                </div>
            </div>

            <div class="form-group">
                <label for="articleDes" class="col-sm-2 control-label">文章简介</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" name="articleDes" id="articleDes"
                           placeholder="文章简介">
                </div>
                <div class="col-sm-6">
                </div>
            </div>

            <div class="form-group">
                <label for="BannerState" class="col-sm-2 control-label">所属分类</label>
                <div class="col-sm-4">
                    <select class="form-control" name="BannerState" id="BannerState">
                        <option value="0">微普科</option>
                        <option value="1">暖故事</option>
                    </select>
                </div>
                <div class="col-sm-6">
                </div>
            </div>




            <div class="form-group">
                <label for="inputfile" class="col-sm-2 control-label">文章封面</label>

                <div class="col-sm-4">
                    <input type="file" name="inputfile" id="inputfile">
                    <img src="../../static/Res/ad.jpg" class="img-responsive" alt="Cinque Terre" width="200"
                         height="100">

                </div>

                <div class="col-sm-6">
                </div>
            </div>



            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-success">保存</button>
                </div>
            </div>
        </form>
    </div>
    <div class="panel-footer">感谢使用皮皮友管理平台 {{ tagaction }}</div>
</div>