<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">
        <h3 class="panel-title">
            文章列表
            <button type="button" class="btn btn-info" onclick="js_newarticle()">新建文章</button>
        </h3>
    </div>
    <div class="panel-body">
        <div>

            分类:
            <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-default active" id="option1">
                    <input type="radio" name="options" autocomplete="off">微科普
                </label>
                <label class="btn btn-default" id="option2">
                    <input type="radio" name="options" autocomplete="off">暖故事
                </label>
            </div>

            <!-- Table -->
            <table class="table table-striped table-hover table-condensed">
                <thead>
                <tr>
                    <th>index</th>
                    <th>帖子ID</th>
                    <th>用户ID</th>
                    <th>作者</th>
                    <th>title</th>
                    <th>simpleContent</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody class="tbodycontent">
                </tbody>
            </table>

        </div>
    </div>
    <div class="panel-footer">感谢使用皮皮友管理平台</div>

</div>