{% extends "base.html" %}
{% block navblock %}
    {% include "nav.html" ignore missing %}
{% endblock %}

{% block contentblock %}
    <div id="midContent" class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                {% include "sliderbar.html" ignore missing %}
            </div>
            <div class="col-md-10">
            {# newforumcate editforumcate subforumcate #}
{#                {% if tagaction == "editforumcate" or tagaction == "newforumcate" %}#}
{#                    {% include "find/forumCateActionContent.html" ignore missing %}#}
{#                {% elif tagaction == "subforumcate" %}#}
{#                    {% include "find/forumCateListContent.html" ignore missing %}#}
{#                {% else %}#}
{#                    {% include "find/forumCateListContent.html" ignore missing %}#}
{#                {% endif %}#}
                {% if tagaction %}
                    {% include "find/forumCateActionContent.html" ignore missing %}
                {% else %}
                    {% include "find/forumCateListContent.html" ignore missing %}
                {% endif %}
            </div>
        </div>
    </div>

    <div id="tagdiv">{{ tag }}</div>
    <div id="tagactiondiv">{{ tagaction }}</div>
    <div id="categoryId">{{ categoryId }}</div>



{% endblock %}


{% block scripts %}
    {{ super() }}

    {# test engine #}
    <script id="forumcate-show-template" type="text/x-handlebars-template">
        {{ '{{' }}{{ '#' }}each data{{ '}}' }}
        <tr>
            <td>{{ '{{' }}addOne @index{{ '}}' }}</td>
            <td>{{ '{{' }}categoryId{{ '}}' }}</td>
            <td>{{ '{{' }}name{{ '}}' }}</td>
            <td><img src={{ '{{' }}imageUrl{{ '}}'}} width="40" height="40"></td>
            <td>{{ '{{' }}isDelete{{ '}}' }}</td>
            <td><a href="javascript:void(0); onclick=forumcateRequest({{ '{{' }}categoryId{{ '}}' }})">
                查看子类别</a></td>
            <td><a href="javascript:void(0); onclick=editForumCategory({{ '{{' }}categoryId{{ '}}' }})">
                编辑</a>
                <a href="javascript:void(0); onclick=deleteCategory({{ '{{' }}categoryId{{ '}}' }})">删除</a></td>
            </tr>
        {{ '{{' }}/each{{ '}}' }}
    </script>

    <script type="text/javascript" src={{ url_for('static',filename="injs/forumcate.js") }}></script>
{% endblock %}